.results {
  font-size: 16pt;
  font-family: sans-serif;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
}
.results.with-border {
  border: 1px solid #cccccc;
}
.results.with-border td,
.results.with-border th {
  border: 1px solid #cccccc;
}
.results thead,
.results th
{
  background-color: #eeeeee !important;
  font-size: 10pt;
  color: #333333;
  text-align: center;
}

.results .contestant {
    width: 180px;
  padding: 2px 8px;
}

.results .name {
  font-size: 12pt;
}
.results .location {
  font-size: 10pt;
  color: #666666 !important;
}

.results tr:nth-child(2n) {
  background-color: #eeeeee !important;
}
.results tbody th {
  padding: 8px;
}

.results .match {
    width: 50px;
    height: 50px;
  padding: 8px;
  text-align: center;
  background-color: #333333;
  background: #333333 !important;
  font-family: 'consolas', monospace;
}
.results .defeat {
  background-color: #cc3333 !important;
  color: #ee8888;
}
.results .victory {
  background-color: #66cc66 !important;
  color: #336633;
}

.results .stat {
  text-align: center;
  font-family: 'consolas', monospace;
  padding: 8px;
}

input {
    width: 50px;
    height: 50px;
    /*padding: 12px 20px;
    margin: 8px 0;
    border: none;*/
}

button {
    margin: 12px 0;
}
