<div class="de pool-container">
        <form action="{{ url_for('submitDE', de_id=de.id) }}" method="post">
            <p>
                {% if de.fencer1 is not none %}{{ de.fencer1.lastName }}, {{ de.fencer1.firstName }}{% else %}{{ de.team1.name }}{% endif %} <input type="text" name="fencer1" style="width: 30px;"/> vs {% if de.fencer2 is not none %}{{ de.fencer2.lastName }}, {{ de.fencer2.firstName }}{% else %}{{ de.team2.name }}{% endif %} <input type="text" name="fencer2" style="width: 30px;"/><br>
                <input type="checkbox" name="fencer1Win"> If tie check if fencer 1 wins<br>
            </p>
            <input type="submit" name="submit" value="Submit results"/>
        </form>
</div>
