<div class="pool-container">
	<div class="pool-text">
		<p class="pool-text">
			<b>{{ event.name }}</b> on <b>{{ event.date }}</b><br>
			{% if public %}
				<a href="{{ url_for('registration', event_id=event.id) }}">Registration</a> |
				{% if event.stage >= 4 %}
					<a href="{{ url_for('pools', event_id=event.id) }}">Pools</a> |
				{% else %}
					Pools |
				{% endif %}
			{% else %}
				<a href="{{ url_for('editRegistration', tournament_id=tournament.id, event_id=event.id) }}">Registration</a> |
				{% if event.stage == 2 %}
					<a href="">Pool Assignments</a>
				{% elif event.stage >= 3 %}
					<a href="{{ url_for('editPools', event_id=event.id) }}">Pools</a> |
				{% else %}
					Pools |
				{% endif %}
			{% endif %}
			{% if event.stage >= 5 %}
				<a href="{{ url_for('editDE', event_id=event.id)}}">DEs</a><br>
			{% else %}
				DEs<br>
			{% endif %}
			{% if event.stage >= 2 %}
				<a href="{{ url_for('initialSeeding', event_id=event.id) }}">Initial Seeding</a> |
			{% else %}
				Initial Seeding |
			{% endif %}
			{% if event.stage >= 4 %}
				<a href="{{ url_for('poolResults', event_id=event.id) }}">Pool Results</a> |
			{% else %}
				Pool Results |
			{% endif %}
			{% if event.stage >= 6 %}
				<a href="{{ url_for('finalResults', event_id=event.id) }}">Final Results</a><br>
			{% else %}
				Final Results<br>
			{% endif %}
			{{ event.numFencersCheckedIn }} Checked In / {{ event.numFencers }} Registered
		</p>
	</div>
</div>
