<table class="results">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            {% for i in range(1, pool.numFencers+1) %}
            <th>{{ i }}</th>
            {% endfor %}
            <th></th>
            <th>V</th>
            <th>V/M</th>
            <th>TS</th>
            <th>TR</th>
            <th>Ind</th>
        </tr>
    </thead>
    <tbody>
        {% for fencer in fencers[pool.poolNum] %}
            <tr>
                <td class="contestant"><div class="name">{{ fencer.lastName }}, {{ fencer.firstName }}</div></td>
                <th>{{ fencer.numInPool }}</th>
                {% for i in range(pool.numFencers) %}
                    {% if i+1 == fencer.numInPool %}
                        <td class="match"></td>
                    {% else %}
                        {% if results[fencer.pool.poolNum][fencer.numInPool|string + (i+1)|string].fencerWin %}
                        <td class="match victory">V{% else %}<td class="match defeat">D{% endif %}{{ results[fencer.pool.poolNum][fencer.numInPool|string + (i+1)|string].fencerScore }}
                        </td>
                    {% endif %}
                {% endfor %}
                <th></th>
                <td class="stat">{{ fencer.victories }}</td>
                <td class="stat">{{ "%.2f"|format(fencer.victories / (pool.numFencers - 1)) }}</td>
                <td class="stat">{{ fencer.touchesScored }}</td>
                <td class="stat">{{ fencer.touchesRecieved }}</td>
                <td class="stat">{{ fencer.indicator }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
