<table border="1" class="de-sheet">
  <tr>
    <td colspan="18" data-label="Team 1">UTD Epee A</td>
    <td colspan="18" data-label="Referee">Jim Basler</td>
  </tr>
  <tr>
    <td colspan="9" data-label="A">Connor</td>
    <td colspan="9" data-label="B">Spence</td>
    <td colspan="9" data-label="C">Ben</td>
    <td colspan="9" data-label="D">Adam</td>
  </tr>
  <tr>
    <td colspan="4" data-label="A">4</td>
    <td colspan="4" data-label="B">2</td>
    <td colspan="4" data-label="C">v3</td>
    <td colspan="4" data-label="A">5</td>
    <td colspan="4" data-label="B"></td>
    <td colspan="4" data-label="C"></td>
    <td colspan="4" data-label="A"></td>
    <td colspan="4" data-label="B"></td>
    <td colspan="4" data-label="C"></td>
  </tr>
  <tr>
    <td colspan="4" data-label="B">3</td>
    <td colspan="4" data-label="C">4</td>
    <td colspan="4" data-label="A">d3</td>
    <td colspan="4" data-label="C">4</td>
    <td colspan="4" data-label="A"></td>
    <td colspan="4" data-label="B"></td>
    <td colspan="4" data-label="A"></td>
    <td colspan="4" data-label="B"></td>
    <td colspan="4" data-label="C"></td>
  </tr>
  <tr>
    <td colspan="9" data-label="A">Jost</td>
    <td colspan="9" data-label="B">Chris</td>
    <td colspan="9" data-label="C">Julia</td>
    <td colspan="9" data-label="D"></td>
  </tr>
  <tr>
    <td colspan="18" data-label="Team 2">UTD Epee B</td>
    <td colspan="18" data-label="Strip">3</td>
  </tr>
</table>
