{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {{ super() }}
    <style>
      .label {
        color: black;
        line-height: 1.42857143;
        text-align: left;
      }

      .pool-container {
          height: 100px;
          padding-top: 8px;
      }

      @media print {
          .no-print {
              display: none;
          }
      }
    </style>
{% endblock %}

{% block app_content %}
<h2>DEs for {{ event.name }}</h2>
<a class="btn btn-primary no-print" onclick="alert(Math.floor(Math.random() * 2) == 0 ? 'Heads' : 'Tails')">Flip Coin</a>
{% for de in des %}
    {% if de.state < 2 %}
        {% include '_de.html' %}
    {% endif %}
{% endfor %}
<hr>
<div class="tournament"></div>

<script>
var bracketData =  JSON.parse('{{ directElims | tojson | safe }}');

var resizeParams = {
    teamWidth: 120,
    scoreWidth: 40,
    matchMargin: 40,
    roundMargin: 50,
    init: bracketData
};

$('.tournament').bracket(resizeParams);
</script>

{% endblock %}
