{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{{ super() }}
{% endblock %}

{% block app_content %}

	{% if event.stage == 1 %}
	<div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	{% endif %}

	<hr>

	{% if event.stage != 1 %}
		<a class="btn btn-primary padded" href="{{ url_for('openRegistration', event_id=event.id) }}" role="button">Open Registration</a>
		<a class="btn btn-danger disabled padded" role="button" aria-disabled="true">Close Registration</a>
		{% if event.stage == 2 %}
			<a class="btn btn-success padded confirmation" role="button" href="{{ url_for('createPools', event_id=event.id) }}">Create Pools</a>
			<script type="text/javascript">
				var allCheckedIn = {% if allCheckedIn %}true{% else %}false{% endif %}

			    $('.confirmation').on('click', function () {
					if(!allCheckedIn) {
						return confirm('Make sure all fencers present are checked in before creating pools.');
					}
			    });
			</script>
		{% else %}
			<a class="btn btn-success disabled padded" role="button" aria-disabled="true">Create Pools</a>
		{% endif %}
	{% else %}
		<a class="btn btn-primary disabled padded" role="button" aria-disabled="true">Open Registration</a>
		<a class="btn btn-danger padded" href="{{ url_for('closeRegistration', event_id=event.id) }}" role="button">Close Registration</a>
		<a class="btn btn-success disabled padded" role="button" aria-disabled="true">Create Pools</a>
	{% endif %}

	<hr>

	<table class="table table-striped">
		<thead>
		<tr>
			<th width="220px">Status</th>
			<th>Fencer A</th>
			<th>Fencer B</th>
			<th>Fencer C</th>
			<th>Alternate</th>
			<th>Club/University</th>
		</tr>
		</thead>
		<tbody>
		{% for team in teams %}
		<tr>
			<td>
			</td>
			<td>{{ team.fencerA.lastName }}, {{ team.fencerA.firstName }}</td>
			<td>{{ team.fencerB.lastName }}, {{ team.fencerB.firstName }}</td>
			<td>{{ team.fencerC.lastName }}, {{ team.fencerC.firstName }}</td>
			<td>{{ team.fencerD.lastName }}, {{ team.fencerD.firstName }}</td>
			<td>{{ team.club.name }}</td>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
