{% extends 'base.html' %}

{% block app_content %}
    <h1>Pool {{ pool.poolNum }} for {{ event.name }}</h1>
    <hr>
    <div>
        <form action="" method="post">
        <table>
            <tr>
                <th>Name</th>
                <th width="8px">#</th>
                {% for i  in range(pool.numFencers) %}
                    <th width="20px">{{ i + 1 }}</th>
                {% endfor %}
            </tr>
            {% for fencer in fencers %}
                <tr>
                    <td>{{ fencer.lastName }}, {{ fencer.firstName }}</td>
                    <td>{{ fencer.numInPool }}</td>
                    {% for j in range(pool.numFencers) %}
                        {% if fencer.numInPool == j + 1 %}
                            <td style="background-color:black"></td>
                        {% else %}
                            <td><input name="result{{ fencer.numInPool }}{{ j + 1 }}"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="submit">
        </form>
    </div>
{% endblock %}
