{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{{ super() }}
{% endblock %}

{% block app_content %}

	{% if event.stage == 1 %}
	<div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	{% endif %}

	<hr>

	{% if event.stage != 1 %}
		<a class="btn btn-primary padded" href="{{ url_for('open_registration', event_id=event.id) }}" role="button">Open Registration</a>
		<a class="btn btn-danger disabled padded" role="button" aria-disabled="true">Close Registration</a>
		{% if event.stage == 2 %}
			<a class="btn btn-success padded confirmation" role="button" href="{{ url_for('create_pools', event_id=event.id) }}">Create Pools</a>
			<script type="text/javascript">
				var allCheckedIn = {% if allCheckedIn %}true{% else %}false{% endif %}

			    $('.confirmation').on('click', function () {
					if(!allCheckedIn) {
						return confirm('Make sure all fencers present are checked in before creating pools.');
					}
			    });
			</script>
		{% else %}
			<a class="btn btn-success disabled padded" role="button" aria-disabled="true">Create Pools</a>
		{% endif %}
	{% else %}
		<a class="btn btn-primary disabled padded" role="button" aria-disabled="true">Open Registration</a>
		<a class="btn btn-danger padded" href="{{ url_for('close_registration', event_id=event.id) }}" role="button">Close Registration</a>
		<a class="btn btn-success disabled padded" role="button" aria-disabled="true">Create Pools</a>
	{% endif %}
	<br><br>{{ event.num_fencers_checked_in }} Checked In / {{ event.num_fencers }} Registered

	<hr>

	<table class="table table-striped">
		<thead>
		<tr>
			<th width="300px">Status</th>
			<th>Team</th>
			<th>University</th>
			<th>Fencer A</th>
			<th>Fencer B</th>
			<th>Fencer C</th>
			<th>Alternate</th>
		</tr>
		</thead>
		<tbody>
		{% for team in teams %}
		<tr>
			<td>
				<a class="btn btn-warning btn-sm padded" role="button" href="{{ url_for('edit_team', event_id=event.id, team_id=team.id) }}">&#9998;</a>
				<a class="btn btn-danger btn-sm padded" role="button" href="{{ url_for('delete_team', event_id=event.id, team_id=team.id) }}">&#x2421;</a>
				{% if team.is_checked_in %}
					<a class="btn btn-success btn-sm disabled padded" role="button" aria-disabled="true">&#10004;</a>
					<a class="btn btn-danger btn-sm padded" role="button" href="{{ url_for('make_team_absent', event_id=event.id, team_id=team.id) }}">&#128683;</a>
					<span style="color: green;">Checked In</span>
				{% else %}
					<a class="btn btn-success btn-sm padded" role="button" href="{{ url_for('check_in_team', event_id=event.id, team_id=team.id) }}">&#10004;</a>
					<a class="btn btn-danger btn-sm disabled padded" role="button" aria-disabled="true">&#128683;</a>
					<span style="color: red;">Absent</span>
				{% endif %}
			</td>
			<td>{{ team.name }}</td>
			<td>{{ team.club.name }}</td>
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'A' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'B' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'C' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'D' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% if team.fencers.count() == 3 %}<td></td>{% endif %}
			{% if team.fencers.count() == 2 %}<td></td><td></td>{% endif %}
		</tr>

		{% endfor %}
		</tbody>
	</table>
{% endblock %}
