{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	{{ super() }}
{% endblock %}

{% block app_content %}

	<h1>{{ tournament.name }}</h1>
	<hr>
	<p>
		Want to allow another user to help run this tournament? Enter their email to add them.
	</p>
	<div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	<hr>
	<p>
		<a class="btn btn-success padded" role="button" href="{{ url_for('create_event', tournament_id=tournament.id) }}">Create Event</a>
        <a class="btn btn-info padded" role="button" href="{{ url_for('send_prereg', tournament_id=tournament.id) }}">Send Preregistration Emails</a>
	</p>
	{% for event in events %}
		{% include '_event.html' %}
	{% endfor %}
{% endblock %}
