{% extends 'base.html' %}

{% block app_content %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pool.css') }}">
    <h1>Pool {{ pool.poolNum }} for {{ event.name }}</h1>
    <p>
        Pool results must have a V or D followed by the score. ex. V5, D2
    </p>
    <hr>
    <div>
        <form action="" method="post">
        <table class="results">
            <thead>
                <tr>
                    <th width="180px">Name</th>
                    <th width="8px">#</th>
                    {% for i  in range(pool.num_fencers) %}
                        <th width="10px">{{ i + 1 }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            {% for fencer in fencers %}
                <tr>
                    <td class="contestant"><div class="name">{{ fencer.last_name }}, {{ fencer.first_name }}</div><div class="location">{{ fencer.club.name }}{{ fencer.team.name }}</div></td>
                    <th>{{ fencer.num_in_pool }}</th>
                    {% for j in range(pool.num_fencers) %}
                        {% if fencer.num_in_pool == j + 1 %}
                            <td class="match"></td>
                        {% else %}
                            <td><input name="result{{ fencer.num_in_pool }}{{ j + 1 }}"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-default">Submit Pool Results</submit>
        </form>
    </div>
{% endblock %}
