{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <style>
		#sortable {
			border: 1px solid #eee;
			width: 142px;
			min-height: 20px;
			list-style-type: none;
			margin: 0;
			padding: 5px 0 0 0;
			float: left;
			margin-right: 10px;
		}
		#sortable li {
			margin: 0 5px 5px 5px;
			padding: 5px;
			font-size: 1.2em;
			width: 120px;
		}
    </style>
    
	{{ super() }}
{% endblock %}

{% block app_content %}

    {% if event.stage == 7 %}
		<a class="btn btn-primary" href="{{ url_for('pool_assignment', event_id=event.id) }}" role="button">Go to Pool Assignment</a>
	{% else %}
		<a class="btn btn-primary disabled" role="button" aria-disabled="true">Go to Pool Assignment</a>
	{% endif %}

	<h1>
		Edit Pool Assignments for {{ event.name }}
	</h1>
	<p>
		Drag teams between pools to move. Pool assignments will be posted when this page is submitted.
	</p>
	<table>
		<tr>
			{% for pool, _ in pools.items() %}
				<td>
					<center>Pool {{ pool.poolNum }}</center>
				</td>
			{% endfor %}
		</tr>
		<tr>
			{% for _, teams in pools.items() %}
				<td>
					<ul id="sortable" class="connectedSortable">
					{% for team in teams %}
					<li class="ui-state-default">{{ team.name }}</li>
					{% endfor %}
					</ul>
				</td>
			{% endfor %}
		</tr>
	</table>
	<br>
	<button onclick="randomizeInPools()">Randomize within pools</button>
	<button onclick="randomizeAllPools()">Randomize across pools</button>
	<form id="form" action="{{ url_for('submit_pool_assignment', event_id=event.id) }}" method="post">
        <input type="submit" name="submit" value="Confirm Pool Assignments"/>
    </form>
    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='edit-pool-assignment.js') }}"></script>
{% endblock %}
