{% extends 'base.html' %}

{% block app_content %}
    {% if event.stage >= 4 %}
        <p>
            <a href="{{ url_for('pools', event_id=event.id) }}">Go to pool results</a><br>
            <a href="{{ url_for('generateBracket', event_id=event.id)}}">Generate DEs</a>
        </p>
    {% endif %}
    {% for pool in pools %}
        {% if pool.state == 0 %}
        <p>
            <a href="{{ url_for('editPool', event_id=event.id, pool_id=pool.id) }}">Pool {{ pool.poolNum }}</a>
        </p>
        {% else %}
        <p>
            Pool {{ pool.poolNum }} <span style="color: green;">Complete</span>
        </p>
        {% endif %}
    {% endfor %}
{% endblock %}
