{% extends 'base.html' %}

{% block app_content %}
    
	{% if all_pools_done %}
		<a class="btn btn-primary" href="{{ url_for('submit_pools', event_id=event.id) }}" role="button">Submit Pools</a>
	{% else %}
		<a class="btn btn-primary disabled" role="button" aria-disabled="true">Submit Pools</a>
	{% endif %}
	
	<h1>{{ event.name }}</h1>	
	
    {% for pool in pools %}
        {% if pool.state == 0 and pool.pool_letter != 'O' %}
        <p>
            <a href="{{ url_for('edit_pool', event_id=event.id, pool_id=pool.id) }}">Pool {{ pool.poolNum }} {{ pool.pool_letter }}</a>
        </p>
        {% elif pool.pool_letter == 'O' %}
			<br>
        {% else %}
        <p>
            Pool {{ pool.poolNum }} {{ pool.pool_letter }} <span style="color: green;">Complete</span>
        </p>
        {% endif %}
    {% endfor %}
{% endblock %}
