{% extends "base.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tournament.css') }}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='tournament.js') }}"></script>
	{{ super() }}
{% endblock %}

{% block app_content %}
	{% for tournament in tournaments %}
		{% include '_tournament.html' %}
	{% endfor %}
{% endblock %}
