{% extends 'base.html' %}

{% block app_content %}
    <h1>Final results for {{ event.name }}</h1>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Place</th>
            <th>Team</th>
        </tr>
        {% for team in teams %}
            {% if team.final_place != None %}
                <tr>
                    <td>{{ team.final_place }}</td>
                    <td>{{ team.name }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
