{% extends 'base.html' %}

{% block app_content %}
    <h1>Initial Seed for {{ event.name }}</h1>
    <hr>
    <table class="table table-striped">
        <thead>
		<tr>
			<th>Seed</th>
            <th>Team</th>
			<th>Fencer A</th>
			<th>Fencer B</th>
			<th>Fencer C</th>
			<th>Alternate</th>
		</tr>
        </thead>
        <tbody>
		{% for team in teams %}
		<tr>
            <td>{{ loop.index }}</td>
			<td>{{ team.name }}</td>
            {% for fencer in team.fencers %}
			{% if fencer.team_position == 'A' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'B' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'C' %}{% if fencer.first_name != '' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% else %}<td></td>{% endif %}{% endif %}
			{% endfor %}
			{% for fencer in team.fencers %}
			{% if fencer.team_position == 'D' %}{% if fencer.first_name != '' %}<td>{{ fencer.last_name }}, {{ fencer.first_name }}</td>{% else %}<td></td>{% endif %}{% endif %}
			{% endfor %}
			{% if team.fencers.count() == 3 %}<td></td>{% endif %}
			{% if team.fencers.count() == 2 %}<td></td><td></td>{% endif %}
        </tr>
		{% endfor %}
        </tbody>
	</table>
{% endblock %}
