{% extends 'base.html' %}

{% block app_content %}
    <h1>Initial Seed for {{ event.name }}</h1>
    <hr>
    <table class="table table-striped">
        <thead>
		<tr>
			<th>Seed</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Club</th>
			<th>Rating</th>
		</tr>
        </thead>
        <tbody>
		{% for fencer in fencers %}
		<tr>
            <td>{{ loop.index }}</td>
			<td>{{ fencer.lastName }}</td>
			<td>{{ fencer.firstName }}</td>
			<td>{{ fencer.club.name }}</td>
			<td>{{ fencer.ratingClass }}{{ fencer.ratingYear }}</td>
        </tr>
		{% endfor %}
        </tbody>
	</table>
{% endblock %}
