{% extends 'base.html' %}

{% block head %}
	<style>
		table, th, td {
			boredr: 0px;
		}
		ul {
			list-style-type: none;
		}
        @media print {
            a.btn {
                display: none;
            }
        }
	</style>
	{{ super() }}
{% endblock %}

{% block app_content %}

    {% if not public %}
        {% if event.stage == 7 %}
            <a class="btn btn-primary" href="{{ url_for('edit_pools', event_id=event.id) }}" role="button">Go to Pools</a>
        {% else %}
            <a class="btn btn-primary disabled" role="button" aria-disabled="true">Go to Pools</a>
        {% endif %}
    {% endif %}

	<h1>{{ event.name }}</h1>

	{% for pool in pools %}
		{% if pool.pool_letter == 'O' %}
		<h2>Pool {{ pool.poolNum }}</h2>
		<ul class="list-group">
			{% for team in pool.teams %}
			<li class="list-group-item">{{ team.name }}<li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
{% endblock %}
