{% extends 'base.html' %}

{% block app_content %}
<h1>{{ event.name }}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th width="300px">Status</th>
        <th>Team</th>
        <th>Fencer A</th>
        <th>Fencer B</th>
        <th>Fencer C</th>
        <th>Alternate</th>
    </tr>
    </thead>
    <tbody>
    {% for team in event.teams %}
    <tr>
        <td>
            {% if team.isCheckedIn %}
                <span style="color: green;">Checked In</span>
            {% else %}
                <span style="color: red;">Absent</span>
            {% endif %}
        </td>
        <td>{{ team.name }}</td>
        {% for fencer in team.fencers %}
        {% if fencer.teamPosition == 'A' %}<td>{{ fencer.lastName }}, {{ fencer.firstName }}</td>{% endif %}
        {% endfor %}
        {% for fencer in team.fencers %}
        {% if fencer.teamPosition == 'B' %}<td>{{ fencer.lastName }}, {{ fencer.firstName }}</td>{% endif %}
        {% endfor %}
        {% for fencer in team.fencers %}
        {% if fencer.teamPosition == 'C' %}<td>{{ fencer.lastName }}, {{ fencer.firstName }}</td>{% endif %}
        {% endfor %}
        {% for fencer in team.fencers %}
        {% if fencer.teamPosition == 'D' %}<td>{{ fencer.lastName }}, {{ fencer.firstName }}</td>{% endif %}
        {% endfor %}
        {% if team.fencers.count() == 3 %}<td></td>{% endif %}
        {% if team.fencers.count() == 2 %}<td></td><td></td>{% endif %}
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}
