{% extends 'base.html' %}

{% block app_content %}
<h1>{{ event.name }}</h1>
<table class="table table-striped">
    <tr>
        <th>Status</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Club</th>
        <th>Team</th>
        <th>Rating</th>
    </tr>
    {% for fencer in event.fencers %}
    <tr>
        <td>
            {% if fencer.isCheckedIn %}
                <span style="color: green;">Checked In</span>
            {% else %}
                <span style="color: red;">Absent</span>
            {% endif %}
        </td>
        <td>{{ fencer.lastName }}</td>
        <td>{{ fencer.firstName }}</td>
        <td></td>
        <td>{{ fencer.team.name }}</td>
        <td>{{ fencer.ratingClass }}{{ fencer.ratingYear }}</td>
    {% endfor %}
</table>
{% endblock %}
